footer {
  display: flex;
  width: 100vw;
  height: 600px;
  background-color: rgb(231, 231, 231);
}

footer .left {
  flex: 1;
  padding: 50px;
  padding-left: 200px;

  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--dark);
  justify-content: space-between;
}
footer .left .logo img {
  width: 180px;
  height: auto;
}
footer .left .socials {
  display: flex;
  font-size: 24px;
  padding: 20px 0;
}

footer .left .contacts {
  display: flex;
  flex-direction: column;

  padding: 20px;
}
footer .left .contacts .contact {
  padding: 10px;
}
footer .left .contacts .contact a {
  color: var(--dark);
  font-weight: 600;
  font-size: 18px;
}
footer .left .socials .socialIcon {
  margin: 10px;
}
footer .right {
  flex: 2;
  padding: 50px;
  padding-right: 200px;
  background-color: rgb(199, 199, 199);
  display: flex;
  flex-direction: column;
}
footer .right .newsletter .inputBox{
    width: 400px;
    display: flex;
    height: 40px;
    background-color: var(--white);
}
footer .right .newsletter .inputBox input{
    flex: 1;
    height: 100%;
    padding: 5px;outline: none;
    font-size: 17px;
border: none;
    letter-spacing: 0.4px;
}
footer .right .newsletter .inputBox button{
    height: 100%;
    width: 100px;
    border: none;
    outline: none;
    color: var(--dark);
    text-transform: uppercase;
    font-weight: 600;
    background-color: inherit;

}