
@media screen and (min-width: 600px) {
  .bottomNav {
    display: none;
  }
}
.bottomNav {
  width: 100vw;
  position: fixed;
  bottom: 0;
  height: 50px;
  background-color: var(--primary);
  z-index: 99;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bottomNav .container {
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
}
.bottomNav .container a {
  font-size: 28px;
  color: var(--white);
}
@media screen and (max-width: 900px) {
  .navbar .nav_center .container .center {
    display: none;
  }
  .navbar .nav_center .container .right {
    margin-right: 50px;
  }
}

@media screen and (max-width: 600px) {
  .navbar .nav_top .container {
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }
  .nav_center > .container .left {
    justify-content: flex-start;
  }
  .nav_center > .container .left .logo img {
    height: 60px !important;
  }
  .navbar .nav_center {
    height: 80px;
    overflow: hidden;
  }
  .navbar .nav_center .container .center {
    display: none;
  }
  .navbar .nav_center .container .right {
    margin-right: 5px;
    align-items: center;
  }
  .navbar > .nav_center > .container .right a:last-child {
    display: none;
  }
}
.MuiTypography-root {
  background-color: transparent !important;
}
@media screen and (max-width: 370px) {
  .navbar > .nav_center > .container .right .cartIcon > div {
    display: none;
  }
}
