.navbar {
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 9;
  box-shadow: 2px 2px 21px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 21px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 21px 0px rgba(0, 0, 0, 0.75);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}
.navbar > * {
  z-index: 100;
}
.navbar > .nav_top {
  height: 40px;
  padding: 5px;
  width: 100vw;
  display: flex;
  background-color: var(--primary);
  align-items: center;
}
.navbar > .nav_top .container {
  color: var(--white);

  max-width: 1600px;
  padding: 0 3vw;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.navbar > .nav_top .container div a {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  height: 100%;
}
.navbar > .nav_center {
  position: sticky;
  top: 0;
  height: 90px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--primary);
  background-color: var(--white);
  /* background-color: var(--white); */
  color: var(--dark);
}
.navbar > .nav_center > .container {
  display: flex;
  max-width: 1600px;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.navbar .nav_center .container > * {
  flex: 1;
  font-size: 18px;
}
.navbar > .nav_center > .container > .left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navbar .nav_center > .container > .left .menuIcon {
  font-size: 28px;
  color: var(--white);
  background-color: var(--primary);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 4vw;
}
.navbar .nav_center > .container > .left .menuIcon:hover {
  background-color: var(--primary_dark);
}
.navbar .nav_center > .container > .left .logo img {
  height: 83px;
  width: auto;
}
.navbar .nav_center .container .center {
  display: flex;
  justify-content: space-around;
}
.navbar .nav_center .container .center a {
  text-decoration: none;
  color: var(--dark);
  transition: all 0.2s;
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: 4px solid transparent;
  transition: border right;
  font-weight: 500;
}
.navbar .nav_center .container .center > a:hover {
  color: var(--primary);
  border-bottom: 4px solid var(--primary);
}
.navbar > .nav_center > .container > .right {
  display: flex;
  justify-content: flex-end !important;
  text-align: right;
}
.navbar > .nav_center > .container > .right div {
  display: flex;
  align-items: center;
}
.navbar .nav_center > .container > .right div > span {
  font-size: 16px;
}
.navbar .nav_center > .container > .right .cartIcon {
  position: relative;
  display: flex;
  border: 2px solid var(--gray);
  border-radius: 5px;
  padding: 0 15px;
}
.navbar .nav_center > .container > .right .cartIcon:hover {
  border: 2px solid var(--primary);
}
.navbar .nav_center > .container > .right .cartIcon > div {
  display: flex;
  flex-direction: column;
}
.navbar .nav_center > .container > .right .cartIcon > div span {
  font-size: 12px;
}
.navbar .nav_center > .container > .right .cartIcon > div span:last-child {
  color: var(--primary);
  font-weight: 600;
  font-size: 14px;
}
.navbar .nav_center > .container > .right .cartIcon > span {
  position: absolute;
  top: -5px;
  right: -5px;
  font-weight: 500;
  font-size: 12px;
  background-color: var(--primary);
  color: var(--white);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar > .nav_center > .container .right a .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--primary);
  object-fit: cover;
}
.navbar > .nav_center > .container .right a {
  margin-left: 20px;
  font-size: 28px;
  color: var(--dark);
}
.navbar > .nav_center > .container .right a:hover {
  color: var(--primary);
}
.sidemenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100vh;
  position: relative;
  overflow: visible;
  background-color: var(--bg_secondary);
  background-color: var(--white);
}
.sidemenu .menuClose {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--primary);
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.sidemenu .top {
  padding: 30px;
}
.sidemenu .top h2 {
  color: var(--primary);
  font-size: 28px;
  text-align: center;
}
.sidemenu .top .user {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: var(--text);
}
.sidemenu .top .user > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
  border: 2px solid var(--primary);
  object-fit: cover;
}
.sidemenu .top .user h4 {
  color: var(--primary);
  font-weight: 500;
}
.sidemenu .center {
  flex: 1;
}
.sidemenu .center > .menu {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.sidemenu .center > .menu a {
  font-size: 18px;
  color: var(--dark);
  font-weight: 500;
  height: 40px;
  padding: 0 10px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
}
.sidemenu .center > .menu a > *:first-child {
  margin-right: 5px;
}
.sidemenu .center > .menu a:hover {
  border-left: 3px solid var(--primary);
  color: var(--primary);
}
.sidemenu .center > .menu p {
  font-size: 13px;
  padding: 20px 0;
  color: var(--primary);
}
@media screen and (min-width: 600px) {
  .bottomNav {
    display: none;
  }
}
.bottomNav {
  width: 100vw;
  position: fixed;
  bottom: 0;
  height: 50px;
  background-color: var(--primary);
  z-index: 99;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bottomNav .container {
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
}
.bottomNav .container a {
  font-size: 28px;
  color: var(--white);
}
@media screen and (max-width: 900px) {
  .navbar .nav_center .container .center {
    display: none;
  }
  .navbar .nav_center .container .right {
    margin-right: 50px;
  }
}

@media screen and (max-width: 600px) {
  .navbar .nav_top .container {
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }
  .nav_center > .container .left {
    justify-content: flex-start;
  }
  .nav_center > .container .left .logo img {
    height: 60px !important;
  }
  .navbar .nav_center {
    height: 80px;
    overflow: hidden;
  }
  .navbar .nav_center .container .center {
    display: none;
  }
  .navbar .nav_center .container .right {
    margin-right: 5px;
    align-items: center;
  }
  .navbar > .nav_center > .container .right a:last-child {
    display: none;
  }
}
.MuiTypography-root {
  background-color: transparent !important;
}
@media screen and (max-width: 370px) {
  .navbar > .nav_center > .container .right .cartIcon > div {
    display: none;
  }
}
