.sections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 500px;
  margin: 50px 0;
  width: 100%;
}
.sections .section {
  border: 1px solid black;
  background-image: url(https://static.fibre2fashion.com/MemberResources/LeadResources/1/2017/9/Seller/17133153/Images/17133153_0_men-s-t-shirt.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.sections .section:hover div {
  background-color: rgba(0, 0, 0, 0.795);
}
.sections .section:hover div a{
  padding: 10px 20px;
  font-size: 20px;
}
.sections .section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.616);
  height: 100%;
}
.sections .section div p {
  font-size: 38px;
  font-weight: 600;
  padding: 20px;
  color: var(--secondary);
}

.sections .section div a {
  background-color: var(--primary);
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
  margin: 20px;
  transition: all 0.3s;
}
.home_slider {
  width: 100vw;
  margin: 50px 0;
}
.home_slider .slides {
  height: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_slider .slides .bannerImg {
  width: 98vw;
  height: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .sections {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 200px);
  }
  .home_slider {
    margin: 20px 0;
  }
  .home_slider .slides {
    height: 300px;
  }
  .home_slider .slides .bannerImg {
    height: 300px;
  }
}
