.LoginSignUpContainer {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  position: fixed;
  top: 0%;
  left: 0;
}

.LoginSignUpBox {
  background-color: var(--bg_secondary);
  border-radius: 10px;
  width: 25vw;
  height: 70vh;
  box-sizing: border-box;
  overflow: hidden;
}
.login_signUp_toggle {
  display: flex;
  height: 3vmax;
}
.login_signUp_toggle > p {
  color: var(--text);
  font: 300 1vmax "Roboto";
  transition: all 0.5s;
  cursor: pointer;
  display: grid;
  place-items: center;
  width: 100%;
}
.login_signUp_toggle > p:hover {
  color: var(--primary);
}

.LoginSignUpBox > div > button {
  background-color: var(--primary);
  height: 3px;
  width: 50%;
  border: none;
  transition: all 0.5s;
}

.loginForm,
.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 90%;
  transition: all 0.5s;
}

.signUpForm {
  transform: translateY(-100%) translateX(-100vmax);
}

.loginForm > div,
.signUpForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}
.loginForm > div > input,
.signUpForm > div > input {
  padding: 10px 50px;
  padding-right: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  height: 45px;
}

.loginForm > div > svg,
.signUpForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 26px;
  color: rgba(0, 0, 0, 0.623);
}

.loginForm > a {
  color: var(--text);
  text-decoration: none;
  align-self: flex-end;
  transition: all 0.5s;
  font: 500 14px "Gill Sans";
}

.loginForm > a:hover {
  color: var(--secondary);
}

#registerImage > img {
  width: 3vmax;
  border-radius: 100%;
}
#registerImage > input {
  display: flex;
  padding: 0%;
}

#registerImage > input::file-selector-button {
  cursor: pointer;
  width: 100%;
  z-index: 2;
  height: 5vh;
  border: none;
  margin: 0%;
  font: 400 0.8vmax cursive;
  transition: all 0.5s;
  padding: 0 1vmax;
  color: rgba(0, 0, 0, 0.623);
  background-color: rgb(255, 255, 255);
}

#registerImage > input::file-selector-button:hover {
  background-color: rgb(235, 235, 235);
}

.loginBtn,
.signUpBtn {
  border: none;
  background-color: var(--primary);
  color: white;
  font: 500 18px "Roboto";
  width: 100%;
  padding: 0.8vmax;
  height: 45px;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  border-radius: 10px;
}

.loginBtn:hover,
.signUpBtn:hover {
  background-color: var(--primary_dark);
}

.shiftToLeft {
  transform: translateX(-100%);
}
.shiftToNeutral {
  transform: translateX(0%);
}

.shiftToNeutralForm {
  transform: translateX(0%) translateY(-100%);
}

.shiftToRight {
  transform: translateX(100%);
}

@media screen and (max-width: 600px) {
  .LoginSignUpBox {
    margin-top: 80px;
    width: 90vw;
    height: 65vh;
  }
  .login_signUp_toggle {
    height: 50px;
  }
  .login_signUp_toggle > p {
    font-size: 16px;
  }

  .loginForm,
  .signUpForm {
    padding: 4vw;
  }

  .loginForm > div > input,
  .signUpForm > div > input {
  }

  .loginForm > div > svg,
  .signUpForm > div > svg {
    font-size: 28px;
  }

  .loginForm > a {
    font: 500 1.8vmax "Gill Sans";
  }

  #registerImage > img {
    width: 80px;
    border-radius: 100%;
  }

  #registerImage > input::file-selector-button {
    height: 7vh;
    font: 400 1.8vmax cursive;
  }

  .loginBtn,
  .signUpBtn {
    font-size: 18px;
    font-weight: 600;
    padding: 1.8vmax;
  }
}
