.profileContainer {
  display: flex;
  height: 100vh;
  max-height: 600px;
  width: 100vw;
  max-width: 1000px;
  margin: 20px auto;
  background-color: var(--bg_secondary);
  border-radius: 10px;
  color: var(--white);
}

.profileContainer > div {
  display: flex;
  height: auto;
  flex: 1;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileContainer > div:first-child > h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.profileContainer > div:first-child > img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  transition: all 0.5s;
  object-fit: cover;
  border: 2px solid var(--primary);
}

.profileContainer > div:first-child > img:hover {
  transform: scale(1.05);
}

.profileContainer > div:first-child > a {
  border: none;
  background-color: var(--primary);
  font: 400 1vmax "Roboto";
  color: white;
  text-decoration: none;
  padding: 0.5vmax;
  width: 30%;
  margin: 20px;
  text-align: center;
  transition: all 0.5s;
}

.profileContainer > div:first-child > a:hover {
  background-color: var(--primary);
}

.profileContainer > div:last-child {
  justify-content: space-around;
  align-items: flex-start;
  padding: 5vmax;
  box-sizing: border-box;
}

.profileContainer > div:last-child > div > h4 {
  color: var(--primary);
  font: 400 1.2vmax "Roboto";
}

.profileContainer > div:last-child > div > p {
  color: var(--white);
  font: 400 1vmax cursive;
  margin: 0.2vmax;
}

.profileContainer > div:last-child > div:last-child {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.profileContainer > div:last-child > div:last-child > a {
  border: none;
  background-color: rgb(68, 68, 68);
  font: 400 1vmax "Roboto";
  color: white;
  text-decoration: none;
  padding: 0.5vmax;
  text-align: center;
  transition: all 0.5s;
  margin: 1vmax 0;
}

.profileContainer > div:last-child > div:last-child > a:hover {
  background-color: rgb(31, 31, 31);
}

@media screen and (max-width: 600px) {
  .profileContainer {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    max-height: 2000px;
    max-width: 98vw;
  }
  .profileContainer > div {
    margin: 0;
    padding: 0;
    height: auto;
  }

  .profileContainer > div:first-child {
    margin-top: 80px;
  }
  .profileContainer > div:first-child img {
    height: 30vw;
    width: 30vw;
  }
  .profileContainer > div:last-child {
    padding: 0;
    margin: 0;
  }

  .profileContainer > div:first-child > h1 {
    font: 500 3.2vmax "Roboto";
    transform: translateY(-2vmax);
  }

  .profileContainer > div:first-child > a {
    font: 400 1.7vmax "Roboto";
    padding: 1vmax;
  }

  .profileContainer > div:last-child {
    text-align: center;
    align-items: center;
  }

  .profileContainer > div:last-child > div > h4 {
    font: 400 2.5vmax "Roboto";
  }

  .profileContainer > div:last-child > div > p {
    font: 400 2vmax cursive;
    margin: 0.5vmax 0;
  }

  .profileContainer > div:last-child > div:last-child > a {
    font-size: 16px;
    padding: 1vmax;
    margin: 10px 0 !important;
  }
}
