@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  max-width: 100vw;
}
#root {
  padding: 0;
  margin: 0;
}
html {
  background-color: var(--white);
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
  cursor: pointer;
}
a {
  text-decoration: none;
}

:root {
  --primary: #ac0404;
  --primary_dark: #9b0000;
  --primary_light: #f24a72;
  --secondary: #f8b400;
  --secondary_dark: #c59104;
  --white: #ffffff;
  --bg: rgb(68, 68, 68);
  --bg_secondary: rgb(46, 45, 45);
  --gray: rgba(172, 172, 172, 0.933);
  --black: rgb(49, 49, 49);
  --text: #ffff;
  --dark: rgb(43, 43, 43);
}

body {
  cursor: url("./images/cursor.png"), auto;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--text);
  background-color: var(--white);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.greenColor {
  color: green !important;
}
.redColor {
  color: red !important;
}

.paypal-button .paypal-button-number-2 {
  display: none !important;
}
.paypal-button .paypal-button-number-3 {
  display: none !important;
}

.m-5 {
  margin: 5px;
}

.btn {
  padding: 0px 15px;
  border-radius: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  transition: all 0.3s;
}
.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}
.btn-primary:hover {
  background-color: var(--primary_dark);
}

.primary {
  color: var(--primary);
}
.gray {
  color: var(--gray);
}
.primary-dark {
  color: var(--primary_dark);
}
.text {
  color: var(--text);
  background-color: transparent;
}
.medium-heading {
  font-size: 24px;
  font-weight: 500;
}

.large-heading {
  font-size: 32px;
  font-weight: 600;
}
.small-heading {
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .btn {
    font-size: 14px;
  }
  .medium-heading {
    font-size: 20px;
  }
  .large-heading {
    font-size: 24px;
  }
  .small-heading {
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  .btn {
    font-size: 14px;
  }
  .medium-heading {
    font-size: 20px;
  }
  .large-heading {
    font-size: 24px;
  }
  .small-heading {
    font-size: 18px;
  }
}

.MuiTypography-root.MuiTypography-body1 {
  /* background-color: transparent !important; */
  color: gray!important;
}
